echo private_key.pem >> .gitignore
echo public_key.pem >> .gitignore
echo server-cert.pem >> .gitignore
echo server-key.pem >> .gitignore
echo ca-key.pem >> .gitignore
echo ca.pem >> .gitignore
echo client-cert.pem >> .gitignore
echo client-key.pem >> .gitignore
echo ib_buffer_pool >> .gitignore
